.draggable {
    cursor: move;
}

.draggable.over {
    border: 2px dashed #000;
}

.order-number {
    text-align: center;
    font-weight: bold;
}

.top-item {
    background-color: #f0f8ff;
}

.current-cue-active {
    border-color: #ff0000;
    border-radius: 10px;
}

.equal-height {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    /* Adjust height as needed */
}

.equal-height .content {
    flex-grow: 1;
}

.full-width-btn {
    width: 100%;
}

.section-header {
    font-weight: bold;
}

.up-next {
    width: max-content;
}
.section-content p {
    margin: 0;
}

.no-drag {
    pointer-events: none;
}

.translate-wide {
    translate: -90% 0%;
}

.over {
    border-width: 2px;
    border-color: #ff0000;
    border-style: dashed;
}